
h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
    font: outline smaller;
    font-weight: bolder;
    font-style: initial;

    padding: 20px 35px;
}


body{
padding: 20px 20px;
margin: 2px;
display: inline-block;
border:lightblue;
border-radius: 40px;

/*   background-color: rgb(218, 233, 218);
background-position: center;
*/
/*   background-image: url('Untitled-5.jpg') ;
background-repeat: no-repeat;
*/

background-color: rgb(200, 200, 200);

font-family:monospace ;

width: 100%;
font-size: 18px;
}   



form{
    
/*background-color: rgb(236, 236, 236);
    color: rgb(37, 39, 41);
   
    text-align:left;

    display: inline-block;
    border: 1px solid rgb(236, 236, 236);
    border-radius: 12px;
    box-sizing: border-box;
    padding: 30px ;
    margin: 1px 5px;    

*/
font-family: sans-serif;
background-color: rgb(236, 236, 236);
border-radius: 12px;
/*

padding: 36px;
margin: 10px;
width: 3000px;
*/
width: 860px;
border:15px 200px rgb(187, 171, 30);
padding: 50px;
margin: 20px;
}

#lefP
{
    height: 38px;
    color: rgb(255, 255, 255);
    background-color: teal;
    margin: 1px;
    width: 100px;
}

#lefP1
{
    height: 38px;
    color: rgb(255, 255, 255);
    background-color: teal;
    margin: 100px;
    width: 100px;
    padding: 20px;


}

#lefP2{

    height: 38px;
    color: rgb(0, 0, 0);
    background-color: rgb(224, 220, 220);
    margin: 1px;
    width: 100px;
    
   
}


#lefP3{

    height: 38px;
    color: rgb(255, 255, 255);
    background-color: teal;
    margin: 1px;
    width: 100px;
    
   
}


#container
{

background-color: teal;
margin: 400px 400px ;
padding:708px 100px;
width: 0px; 
border: 0px ;
height: 0px ;
/*
height: 38px;
color: rgb(255, 255, 255);
background-color: teal;
margin: 1px;
width: 100px;
*/

}

#main{


}

